@import "tailwindcss";

body {
  font-family: var(--font-space-grotesk), sans-serif;
}

/* loading part */

#mainLoadingBox{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffdb;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0 auto;
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: transparent;
    border: 0.1em solid #121212;
    transform: translate(-50%, -50%);
  }

  &::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 25%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0.1em dotted #121212;
    border-right-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent; 
    transform: translate(-50%, -50%);
    animation: loadRotate3 4s ease-in-out infinite;
  }
}

#loader-one{
  width: 20%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border: 0.1em solid var(--primary);
  border-left-color: transparent;
  border-right-color: transparent;
  animation: loadRotate 3s linear infinite;
}

#loader-two{
  width: 70%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1em solid #121212;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: loadRotate2 4s linear infinite;
}

#center-loader{
  width: 40%;
  aspect-ratio: 1/1;
  background-color: #121212;
  border-radius: 50%;
}

@keyframes loadRotate{
  0%{ transform: rotate(0deg);}
  100%{ transform: rotate(360deg);}
}

@keyframes loadRotate2{
  0%{transform: rotate(0deg);}
  50%{ transform: rotate(0deg);}
  100%{ transform: rotate(360deg);}
}

@keyframes loadRotate3{
  0%{ transform: translate(-50%, -50%) rotate(360deg);}
  100%{ transform: translate(-50%, -50%) rotate(0deg);}
}

/* not-found */
#errorStatus{
  -webkit-text-stroke: 2.5px #121212;
  text-stroke: 2.5px #121212;
}

/* Navbar style */
.navbar-links{
  position: relative;
  color: #555;
  transition: all 0.25s ease-out;

  &::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 100%;
    transform-origin: center;
    transform: scaleX(0);
    background-color: #121212;
    transition: transform 0.25s ease-out;
  }

  &:hover{
    color: #121212;
  }
}

.navbar-links:hover::after{
  transform: scaleX(1);
}

/* Skill cards */
.gridBox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #ffffff;
  color: #121212;
  transition: 0.3s linear;
  border: 0.4em solid #121212;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 0.8em 0.8em 0 #121212;
}

.gridBox:hover:nth-child(1){
  background-color: #ffd558;
}

.gridBox:hover:nth-child(2){
  background-color: #58ff87;
}

.gridBox:hover:nth-child(3){
  background-color: #61DBFB;
}

.gridBox:hover:nth-child(4){
  background-color: #E3E3E3;
}

.gridBox:hover:nth-child(5){
  background-color: #479EE8;
}

.gridBox:hover:nth-child(6){
  background-color: #3776ab;
  color: #ffffff;
}

.gridBox:hover:nth-child(7){
  background-color: #7ACE02;
}

.gridBox:hover:nth-child(8){
  background-color: #1C1C1C;
  color: #ffffff;
}

.gridBox:hover:nth-child(9){
  background-color: #3178C6;
  color: #ffffff;
}

.gridBox:hover:nth-child(10){
  background-color: #121212;
  color: #ffffff;
}
